<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="savant.tool.varid" version="1.0.0"
	class="savant.tool.varid.Varid">
    <requires><import plugin-id="savant.core"/></requires>
	<runtime>
		<library id="data" path="/" type="code">
<!--			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc" />
			</doc>
-->
			<export prefix="*" />
		</library>
	</runtime>
    <extension plugin-id="savant.core" point-id="AuxData" id="Varid">
		<parameter id="class" value="savant.tool.varid.Varid"/>
		<parameter id="name" value="Data"/>
	</extension>
</plugin>