<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="savant.thousandgenomes" version="1.1.3"
	class="savant.thousandgenomes.ThousandGenomesPlugin">
    <attributes>
        <attribute id="sdk-version" value="2.0.0"/>
    </attributes>
    <requires>
        <import plugin-id="savant.core"/>
    </requires>
	<runtime>
                <library id="library" path="/" type="code"></library>
	</runtime>
    <extension plugin-id="savant.core" point-id="AuxData" id="extensionCore">
		<parameter id="class" value="savant.thousandgenomes.ThousandGenomesPlugin"/>
		<parameter id="name" value="1000 Genomes"/>
    </extension>
</plugin>