<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="savant.chrome" version="1.0.0" class="savant.chrome.Chrome">
    <requires><import plugin-id="savant.core"/></requires>
    <attributes><attribute id="sdk-version" value="1.5.1"/></attributes>
    <extension plugin-id="savant.core" point-id="AuxData" id="extensionCore">
	<parameter id="class" value="savant.chrome.Chrome"/>
	<parameter id="name" value="Chrome"/>
    </extension>
</plugin>