<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="savant.demo" version="1.0.0" class="savant.amino.AminoPlugin">
    <attributes><attribute id="sdk-version" value="1.6.0"/></attributes>
    <requires>
        <import plugin-id="savant.core"/>
    </requires>
	<runtime>
            <library id="library" path="/" type="code"></library>
	</runtime>
    <extension plugin-id="savant.core" point-id="AuxData" id="extension">
        <parameter id="class" value="savant.amino.AminoPlugin"/>
        <parameter id="name" value="Amino Acid Plugin"/>
    </extension>
</plugin>
