<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="savant.snp" version="2.2.5"
	class="savant.snp.SNPFinderPlugin">
    <attributes>
        <attribute id="sdk-version" value="2.0.0"/>
    </attributes>
    <requires><import plugin-id="savant.core"/></requires>
	<runtime>
                <library id="library" path="/" type="code"></library>
	</runtime>
    <extension plugin-id="savant.core" point-id="AuxData" id="extension">
		<parameter id="class" value="savant.snp.SNPFinderPlugin"/>
		<parameter id="name" value="SNP Finder"/>
	</extension>
</plugin>
