<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="savant.ucsc" version="1.1.0"
	class="savant.ucsc.UCSCDataSourcePlugin">
    <attributes><attribute id="sdk-version" value="1.4.4"/></attributes>
    <requires>
        <import plugin-id="savant.core"/>
        <import plugin-id="savant.sql"/>
    </requires>
	<runtime>
                <library id="library" path="/" type="code"></library>
		<library id="sql" path="savant.sql-1.0.0.jar" type="code"></library>
	</runtime>
    <extension plugin-id="savant.core" point-id="AuxData" id="extension">
		<parameter id="class" value="savant.ucsc.UCSCDataSourcePlugin"/>
		<parameter id="name" value="UCSC Datasource"/>
    </extension>
</plugin>